//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.




$gray-darker:            #4d4d4d !default; // ~ lighten(#000, 13.5%) !default; // #222
$gray-dark:              #32373d !default; // ~ lighten(#000, 20%) !default;   // #333
$gray:                   #4f5259 !default; // ~ (#000, 33.5%) !default;        // #555
$gray-light:             #aeafb1 !default; // ~ lighten(#000, 60%) !default;   // #999
$gray-lighter:           #edeef0 !default; // ~ lighten(#000, 93.5%) !default; // #eee

$grayed:                 #b3b3b3 !default;
$grayed2:                #808080 !default;

// Brand colors
// -------------------------

$brand-inverse:         #4f5259 !default;
$brand-primary:         #4f8edc !default;
$brand-success:         #85c744 !default;
$brand-warning:         #f1c40f !default;
$brand-danger:          #e73c3c !default;
$brand-info:            #2bbce0 !default;

$brand-brown:           #c0392b !default;
$brand-indigo:          #9358ac !default;
$brand-orange:          #efa131 !default;
$brand-midnightblue:    #34495e !default;
$brand-sky:             #76c4ed !default;
$brand-magenta:         #e73c68 !default;
$brand-purple:          #e044ab !default;
$brand-green:           #16a085 !default;
$brand-grape:           #7a869c !default;
$brand-toyo:            #556b8d !default;
$brand-alizarin:        #e74c3c !default;

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f7f8fa !default;        // #f7f8fa !default;
$page-title-color:      $body-bg !default;

//** Global text color on `<body>`.
$text-color:            $gray-darker !default;

//** Global textual link color.

$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-primary !default;

// Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         18px !default; //ceil($font-size-base * 1.25) !default;
$font-size-small:         12px !default; //ceil($font-size-base * 0.85) !default;
$font-size-mini:          11px !default; //ceil($font-size-base * 0.75) !default; 

$font-size-h1:            ceil($font-size-base * 2.71) !default;  // ~38px
$font-size-h2:            ceil($font-size-base * 2.29) !default; // ~32px
$font-size-h3:            ceil($font-size-base * 1.70) !default; // ~24px
$font-size-h4:            ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$font-weight-base:        400 !default;

//** Unit-less `line-height` for use in components like buttons.

$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-base !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.42 !default;
$headings-color:          #000 !default;

$border-darker-alt:        #d2d3d6 !default;
$border-darker:            #d2d3d6 !default;
$border-lighter:           #e6e7e8 !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:          7px !default;
$padding-base-horizontal:        15px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;
$padding-xs-vertical:            1px !default;
$padding-xs-horizontal:          5px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             1px !default;
$border-radius-large:            1px !default;
$border-radius-small:            1px !default;
//** Global color for active items (e.g., navs or dropdowns).

$component-active-color:         #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:            #d2d3d6 !default; //$brand-inverse
//** Width of the `border` for generating carets that indicator dropdowns.

$caret-width-base:               4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:              5px !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:                 10px !default;
$table-condensed-cell-padding:       5px !default;

//** Default background color used for all tables.
$table-bg:                           transparent !default; // overall background-color
//** Background color used for `.table-striped`.
$table-bg-accent:                    #f7f8fa !default; // for striping
//** Background color used for `.table-hover`.
$table-bg-hover:                     #edeef0 !default;
$table-bg-active:                    $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:                 $border-lighter !default; // table and cell border

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-family:                $font-family-base !default;
$btn-font-weight:                600 !default;

$btn-regular-color:              #fff !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 $border-lighter !default;
$btn-default-border:             $btn-default-bg !default;

$btn-white-color:                #333 !default;
$btn-white-bg:                   #fff !default;
$btn-white-border:               $border-lighter !default;

$btn-primary-color:              $btn-regular-color !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-success-color:              $btn-regular-color !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-warning-color:              $btn-regular-color !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               $btn-regular-color !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-info-color:                 $btn-regular-color !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $btn-info-bg !default;

$btn-inverse-color:              $btn-regular-color !default;
$btn-inverse-bg:                 $brand-inverse !default;
$btn-inverse-border:             $btn-inverse-bg !default;

$btn-link-disabled-color:        $gray-light !default;


//== Forms
//
//##

//** `<input>` background color

$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;

//** Text color for `<input>`s
$input-color:                    $gray-darker !default;
//** `<input>` border color
$input-border:                   $border-darker !default;
//** `<input>` border radius
$input-border-radius:            $border-radius-base !default;
//** Border color for inputs on focus
$input-border-focus:             $gray-darker !default;
//** Placeholder text color

$input-color-placeholder:        $gray-light !default;
//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e6e7e8 !default;
//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-fallback-bg:           #fff !default;
$dropdown-bg:                    rgba(#fff,0.98) !default;
//** Dropdown menu `border-color`.
$dropdown-border:                $border-darker-alt !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            $border-lighter !default;

//** Dropdown link text color.
$dropdown-link-color:            $gray-darker !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      #000 !default;
//** Hover background for dropdown links.
$dropdown-link-active-bg:        $component-active-bg !default;
$dropdown-link-hover-bg:         $dropdown-link-active-bg !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

// Note: Deprecated $dropdown-caret-color as of v3.1.0
$dropdown-caret-color:           #000 !default;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1200 !default;
$zindex-dropdown:          1001 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1230 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
// Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;



//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    40px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        15px !default; // floor($grid-gutter-width / 2) !default;
$navbar-padding-vertical:          10px !default; // (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;
$navbar-default-color:             #777 !default;
$navbar-default-bg:                #E6E7E8 !default;
$navbar-default-border:            0 !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-link-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #ccc !default;
$navbar-default-toggle-border-color:       #ddd !default;


// Inverted navbar
//
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light !default;
$navbar-inverse-bg:                         #313338 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 rgba(#fff,0.5) !default;
$navbar-inverse-fallback-color:             #888 !default; //ie8 has no support for opacity
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-vertical-separator:                 #27292d !default;
$navbar-inverse-link-active-bg:             $navbar-vertical-separator !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar search
// Normal navbar needs no special styles or vars
$navbar-inverse-search-bg:                  lighten($navbar-inverse-bg, 25%) !default;
$navbar-inverse-search-bg-focus:            #fff !default;
$navbar-inverse-search-border:              $navbar-inverse-bg !default;
$navbar-inverse-search-placeholder-color:   #ccc !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;

//Avant Extended



//== Navs
//
//##

//=== Shared nav styles

$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-open-link-hover-color:                 #fff !default;
$nav-open-caret-border-color:               #fff !default;

//== Tabs
$nav-tabs-border-color:                     $border-darker !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


//== Pagination
//
//##

$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    $border-darker !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;


//== Pager
//
//##

$pager-bg:                             $pagination-bg !default;
$pager-border:                         $pagination-border !default;
$pager-border-radius:                  $border-radius-base !default;

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;


//== Jumbotron
//
//##

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $gray-lighter !default;

$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-warning-text:             darken($brand-warning, 20%) !default;
$state-warning-bg:               lighten($brand-warning, 40%) !default;
$state-warning-border:           lighten($brand-warning, 20%) !default; // darken(spin($state-warning-bg, -10), 3%) !default;

$state-danger-text:              darken($brand-danger, 20%) !default; // #b94a48 !default;
$state-danger-bg:                lighten($brand-danger, 40%) !default; // #f2dede !default;
$state-danger-border:            lighten($brand-danger, 20%) !default; // darken(spin($state-danger-bg, -10), 3%) !default;

$state-success-text:             darken($brand-success, 20%) !default;
$state-success-bg:               lighten($brand-success, 40%) !default;
$state-success-border:           lighten($brand-success, 20%) !default;

$state-info-text:                darken($brand-info, 20%) !default;
$state-info-bg:                  lighten($brand-info, 40%) !default;
$state-info-border:              lighten($brand-info, 20%) !default; // darken(spin($state-info-bg, -10), 7%) !default;

$state-inverse-text:             darken($brand-inverse, 20%) !default;
$state-inverse-bg:               lighten($brand-inverse, 40%) !default;
$state-inverse-border:           lighten($brand-inverse, 20%) !default;



//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               #fff !default;
//** Tooltip background color
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                $border-darker !default;
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 #fff !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           rgba(0,0,0,.25) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  #999 !default;


//== Labels
//
//##

$label-font-family:           $font-family-base !default;
$label-font-weight:           600 !default;
$label-border-radius:         $border-radius-large !default;

//** Default label background color
$label-default-bg:            $gray-light !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;
$label-indigo-bg:             $brand-indigo !default;
$label-grape-bg:              $brand-grape !default;
$label-inverse-bg:            $brand-inverse !default;
$label-orange-bg:             $brand-orange !default;
$label-purple-bg:             $brand-purple !default;
$label-sky-bg:                $brand-sky !default;


//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         20px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;



$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;
//== Alerts
//
//## Define alert colors, border radius, and padding.
$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;



//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 #edeef0 !default;
//** Progress bar text color
$progress-bar-color:          #fff !default;

//** Default progress bar color
$progress-bar-bg:             $brand-primary !default;
//** Success progress bar color
$progress-bar-success-bg:     $brand-success !default;
//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning !default;
//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger !default;
//** Info progress bar color
$progress-bar-info-bg:        $brand-info !default;

//** Custom progress bar colors
$progress-bar-inverse-bg:     $brand-inverse !default;
$progress-bar-green-bg:       $brand-green !default;
$progress-bar-indigo-bg:      $brand-indigo !default;
$progress-bar-purple-bg:      $brand-purple !default;
$progress-bar-orange-bg:      $brand-orange !default;




//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg:                 #fff !default;
//** `.list-group-item` border color
$list-group-border:             #ddd !default;
//** List group border radius
$list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
$list-group-hover-bg:           #f5f5f5 !default;
//** Text color of active list items
$list-group-active-color:       $component-active-color !default;
//** Background color of active list items
$list-group-active-bg:          $component-active-bg !default;
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

//** Text color of disabled list items
$list-group-disabled-color:      $gray-light !default;
//** Background color of disabled list items
$list-group-disabled-bg:         $gray-lighter !default;
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;

//== Panels
//
//##


$panel-bg:                    #fff !default;
$panel-inner-border:          $border-darker !default;
$panel-border-radius:         $border-radius-large !default;
//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f7f8fa !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        $border-darker !default;
// $panel-default-heading-bg:    $body-bg !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          #fff !default;
$panel-success-border:        $brand-success !default;
$panel-success-heading-bg:    $brand-success !default;

$panel-info-text:             #fff !default;
$panel-info-border:           $brand-info !default;
$panel-info-heading-bg:       $brand-info !default;

$panel-warning-text:          #fff !default;
$panel-warning-border:        $brand-warning !default;
$panel-warning-heading-bg:    $brand-warning !default;

$panel-danger-text:           #fff !default;
$panel-danger-border:         $brand-danger !default;
$panel-danger-heading-bg:     $brand-danger !default;

$panel-inverse-text:          #fff !default;
$panel-inverse-border:        $brand-inverse !default;
$panel-inverse-heading-bg:    $brand-inverse !default;

// $panel-danger-heading-bg:     $state-danger-bg !default;

//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:           10px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            $border-lighter !default;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px !default;


//== Wells
//
//##

$well-bg:                     #edeef0 !default;
$well-border:                 $border-darker !default;


//== Badges
//
//##
$badge-color:                 #fff !default;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $gray-light !default;
//** Badge text color in active nav link
$badge-active-color:          $link-color !default;
//** Badge background color in active nav link
$badge-active-bg:             #fff !default;

$badge-font-family:           $font-family-base !default;
$badge-font-weight:           600 !default;
$badge-line-height:           10px !default;
$badge-border-radius:         9px !default;



//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   7px !default;
$breadcrumb-padding-horizontal: 15px !default;
//** Breadcrumb background color
$breadcrumb-bg:                 $gray-lighter !default;
//** Breadcrumb text color
$breadcrumb-color:              $border-darker !default;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $gray-light !default;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/" !default;


// Carousel
// ------------------------

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;
$carousel-heading-color:                      $carousel-caption-color !default;


//== Close
//
//##
$close-font-weight:           bold !default;
$close-color:                 #000 !default;

$close-text-shadow:           0 1px 0 #fff !default;


//== Code
//
//##
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;
$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $gray-light !default;
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     $gray-lighter !default;
//** Page header border color
$page-header-border-color:    $gray-lighter !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;
//** Horizontal line color.
$hr-border:                   $gray-lighter !default;





//== Miscellaneous
//
//##

//** Horizontal line color.
$hr-border:                   $border-lighter !default;

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;




//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:            100% !default; // ((720px + $grid-gutter-width)) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:           100% !default; // ((940px + $grid-gutter-width)) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      100% !default; // ((1140px + $grid-gutter-width)) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


// Sidebar
// -------------------------

$sidebar-divider:                       #d2d3d6 !default;
$sidebar-minimum-height:                650px !default;

$sidebar-background:                    #e6e7e8 !default;
$sidebar-menu-color:                    #3f444c !default;
$sidebar-icon-color:                    $sidebar-menu-color !default;

$sidebar-active-bg:                     #595f69 !default;
$sidebar-active-color:                  #fff !default;

$sidebar-hover-bg:                      #d2d3d6 !default;
$sidebar-hover-color:                   #3f444c !default;

$sidebar-submenu-bg:                    #dfe0e2 !default;
$sidebar-submenu-color:                 rgba(63,68,76,0.7) !default;

$search-bg:                             #d2d3d6 !default;
$search-color:                          #3f444c !default;

// Horizontal Nav
// -------------------------
$horizontal-background:                 $sidebar-background !default;
$horizontal-menu-color:                 $sidebar-menu-color !default;
$horizontal-icon-color:                 $horizontal-menu-color !default;
    
$horizontal-active-bg:                  $sidebar-active-bg !default;
$horizontal-active-color:               $sidebar-active-color !default;

$horizontal-hover-bg:                   $sidebar-hover-bg !default;
$horizontal-hover-color:                $sidebar-hover-color !default;

$horizontal-submenu-background:             $sidebar-submenu-bg !default;
$horizontal-submenu-item-color:             $sidebar-submenu-color !default;
$horizontal-submenu-item-hover-background:  $sidebar-hover-bg !default;
$horizontal-submenu-item-hover-color:       $sidebar-hover-color !default;

// Boxed Layout
// -------------------------
$boxed-width:                           1154px !default;
$boxed-background:                      rgba(0,0,0,0.9) !default;


// Font awesome
//-------------------------
$fa-font-path: "../../components/font-awesome/fonts" !default;

// Old Var from 3.2
//-------------------------
$cursor-disabled: disabled !default;
$form-group-margin-bottom: 15px !default;
$input-border-radius-small: 3px !default;
$input-border-radius-large: 6px !default;
$progress-border-radius: 4px !default;
$link-hover-decoration: underline;
